. {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
div#banner {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 2.2em;
	font-style: normal;
	font-variant: normal;
  background: white;
  align-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 0.05em dashed #ffb90f;
}

div#professions {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 0.5em;
	font-style: italic;
	font-variant: normal;
  padding-bottom: 5px;
  font-weight: normal;
}
div.divider {
  padding: 3em;
  background: white;
}
p {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	line-height: 30px;
}
pre {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 0.8em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}
div.sec_header_white {
  font-family: Contrail One;
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  background: white;
  width: 100%;
  text-align: center;
}
div.sec_header_black {
  font-family: Contrail One;
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  background: black;
  width: 100%;
  color: white;
  text-align: center;
}
div#main {
  background: gray;
  align-content: center;
  margin: auto;
  padding: 0px 0px 0px 0px;
}
div#about {
  text-decoration: none;
  text-align: center;
  color: white;
  width: 70%;
  align-content: center;
  margin: auto;
  padding: 0.3em;
}
div#contact {
  text-decoration: none;
  text-align: center;
  color: black;
  width: 70%;
  align-content: center;
  margin: auto;
}
div.main_text {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 1em;
}
div#skills {
  text-align: center;
  text-decoration: none;
  color: black;
}
td#top {
  background: #ffb90f;
  width: 10%;
  font-size: 0.5em;
}

td#top a {
	color:white;
}

td#top:hover {
	opacity: 0.7;
}
a {
  text-decoration: none;
}
td#name {
  font-family: Advent Pro;
  background: white;
  width: 35%;
  text-align: left;
  padding-left: 1em;
}
/* navigation styling */
li.nav {
	float: left;
	padding: 0.5em;
	color: black;
}
li.nav:hover {
	opacity: 0.7;
}
ul.nav {
	list-style-type: none;
}

li.contact {
	float: left;
	padding: 0.3em;
	color: black;
}
li.contact:hover {
	opacity: 0.7;
}
ul.contact {
	list-style-type: none;
	content-align: center;
}

td#nav {
  font-family: Advent Pro;
  background: white;
  width: 55%;
  text-align: right;
  font-size: 0.75em;
  content-align: right;
  padding: 0;
  margin: 0;
}

td#nav a {
	color: black;
}

tr#banner {
	padding: 0;
	margin: 0;
}
table#banner {
  width: 100%;
  border-collapse: collapse;
}
body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
 /* Style all font awesome icons */
.fa {
	padding: 0.5em;
    font-size: 2em;
	width: 1em;
    text-align: center;
    text-decoration: none;
	border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: grey;
  color: black;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-envelope-o {
	background: orange;
	color: white;
}

.fa-instagram {
	background: #ff5db1; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ff5db1 0%, #ea5702 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ff5db1 0%,#ea5702 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ff5db1 0%,#ea5702 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ea5702',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: white;
}

div#main_pic {
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
	padding: 5em 5em 5em 5em;
	margin: 0 0 0 0;
	background-color: white;
	background-image: url("../images/main_img.png");
	height: 15em;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	align-content: right;
}
