. {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
body {
	overflow-y: hidden;
}
div#preload
{
	height: 1px;
	width: 1px;
	visibility: hidden;
	overflow: hidden;
}

p.name {
	font-family: "Courier";
	font-size: 1.2em;
	color: blue;
	font-weight: bold;
	padding: 0.5em;
	display: inline;
	vertical-align: middle;
}

span {
  display: block;
  height: 10vh;
  margin-top: -10vh;
  visibility: none;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#banner {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 1em;
	font-variant: normal;
	font-style: normal;
  background: white;
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 10vh;
  top: 0;
  font-size: 2em;
  z-index: 1;
  border-bottom: 0.2em dashed #ffb90f;
  display: table;
  overflow: visible;
}
div#banner table, div#banner td, div#banner tr {
	height: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
	border-collapse: collapse;
}

a.menu_icon {
	display: none;
	color: #ffb90f;
}

div#professions {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 0.5em;
	font-style: italic;
	font-variant: normal;
	padding-bottom: 0.4em;
  font-weight: normal;
}
div.sec_header_white {
  font-family: Contrail One;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  background: white;
  width: 100%;
  min-height: 100%;
  text-align: center;
  color: black;
  margin: 0;
  padding: 1em 0 1em 0;
  position: relative;
}
div.sec_header_black {
  font-family: Contrail One;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  background: black;
  width: 100%;
  min-height: 100%;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1em 0 1em 0;
  position: relative;
}
div#main {
  background: gray;
  margin:0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
div#about {
  text-decoration: none;
  text-align: center;
  color: white;
  width: 70%;
  margin: 0 auto;
  padding: 0;
  font-size: 1em;
}
div#contact {
  text-decoration: none;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 0;
}
div#projects {
  text-decoration: none;
  text-align: center;
  width: 70%;
  padding: 0;
  margin: 0 auto;
}
div#projects img {
	box-shadow: 0.5em 0.5em 0.5em rgb(20,20,20);
	border: 0.2em solid white;
	transform: rotate3d(-1, 1, 0, 25deg);
	width: 10em;
}
div#projects ul.project, li.project {
	color: gray;
	padding: 0.5em;
	margin: 0;
	display: inline-block;
	font-size: 0.8em;
}
div#projects table {
	overflow: visible;
	position: relative;
	overflow: scroll;
}
div#projects th {
	color: gray;
	padding: 0.5em;
}
div#projects td {
	overflow: visible;
	width: 50%;
}
div#projects td.desc {
	padding: 0;
	overflow: visible;
}
div#projects::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 1em rgba(0,0,0,1);
		background-color: #F5F5F5;
	}
div#projects::-webkit-scrollbar {
		width: 0.5em;
		background-color: #F5F5F5;
	}
div#projects::-webkit-scrollbar-thumb {
	background-color: #ffb90f;
	}

div#resume {
  width: 70%;
  margin: 0 auto;
  padding: 0;
}
div#resume p {
	color: gray;
	font-size: 0.7em;
	padding: 0;
	margin: 0;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
div#resume ul {
	text-align: center;
}
div#resume li {
	padding: 0.3em;
	display: inline-block;
}
div#publications {
	margin: 0 auto;
	width: 70%;
	padding: 0;
}
div#publications img {
	box-shadow: 0.5em 0.5em 0.5em #888888;
	border: 1px solid black;
	width: 50%;
}
div#publications a {
	text-decoration: none;
	color: orange;
	font-weight: bold;
	font-size: 0.8em;
	text-align: right;
}
div#publications table, div#publications tr, div#publications td {
	margin: 0 auto;
	text-align: left;
	padding: 1em 0;
}
div#publications td {
	font-size: 0.8em;
}
div#publications td.image {
	text-align: center;
}
div#publications td.link {
	text-align: right;
	padding: 0 10% 0 0;
}
div#publications th {
	text-align: center;
}
div#contact table {
	margin: 0 auto;
}
div#resume a.pdf {
	color: red;
	opacity: 0.7;
}
div#resume a:hover {
	opacity: 1;
}
div#resume table {
	margin: 0 auto;
	color: gray;
	padding: 0;
}
div#resume tr, td {
	padding: 0;
	margin: 0;
}
div#contact p {
	font-size: 0.5em;
	color: #888888;
	text-decoration: italics;
}
p.small_text {
	font-size: 0.5em;
	color: #888888;
	text-decoration: italics;
}

div.main_text {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 0.7em;
}
div#skills {
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 0;
  width: 70%;
  margin: 0 auto;
  display: table;
  overflow: scroll;
}

div#skills ul, li {
	list-style-type: none;
}

div#skills table {
	margin: auto;
	text-align: left;
	padding: 1em;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
div#skills td {
	color: rgb(40,40,40);
	font-size: 0.7em;
	vertical-align: top;
	padding: 0.5em 0.5em 0 0;
}
div#skills th {
	font-size: 0.8em;
	color: #ffb90f;
	font-weight: bold;
	padding: 0 1em 0 0;
}
td#top {
  background: #ffb90f;
  width: 10%;
  font-size: 0.5em;
  height: 100%;
}

td#top a {
	color:white;
}

td#top:hover {
	opacity: 0.7;
}
a {
  text-decoration: none;
}
td#name {
  font-family: Advent Pro;
  background: white;
  text-align: left;
  padding-left: 1em;
}

li.contact {
	float: left;
	padding: 0.3em;
	color: black;
	list-style-type: none;
}
li.contact:hover {
	opacity: 0.7;
}
ul.contact {
	list-style-type: none;
	text-align: center;
}

td#nav {
  font-family: Advent Pro;
  background: white;
  height: 100%;
  text-align: right;
  font-size: 0.75em;
  padding: 0 1em 0 0;
  margin: 0;
}

td#nav li {
	display: block;
	padding: 0 0.5em 0 0;
	color: black;
	float: right;
}

td#nav ul {
	list-style-type: none;
	right: 0;
}
td#nav li:hover {
		opacity: 0.7;
}

td#nav a.link {
	color: black;
}

tr#banner {
	padding: 0;
	margin: 0;
}
table#banner {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  padding: 0.5em;
}
body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
 /* Style all font awesome icons */
.fa {
	padding: 0.5em;
    font-size: 2em;
	width: 1em;
    text-align: center;
    text-decoration: none;
	border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-file-word-o {
	color: blue;
	opacity: 0.7;
}

.fa-file-pdf-o {
	color: red;
	opacity: 0.7;
}

.fa-github {
  background: grey;
  color: black;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-envelope-o {
	background: orange;
	color: white;
}

.fa-instagram {
	background: #ff5db1; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ff5db1 0%, #ea5702 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ff5db1 0%,#ea5702 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ff5db1 0%,#ea5702 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ea5702',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: white;
}

div#main_pic {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left bottom;
	opacity: 1;
	margin: 0;
	padding: 0;
	background-image: url(../images/main_img.png);
	width: 50%;
	height: 65%;
	bottom: 0;
	overflow: hidden;
	position: absolute;
}

div#preview {
	border: 0.2em solid #ffb90f;
	border-radius: 2em;
	background-color: white;
	width: 55%;
	height: 60%;
	padding: 1em;
	position: absolute;
	right: 5%;
	top: 20%;
	overflow: hidden;
	vertical-align: center;
}
div#preview_content {
	font-size: 1.3em;
	padding: 1em;
	background-color: white;
	width: 95%;
	max-height: 85%;
	overflow-y: auto;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

div#preview_content ul, div#preview_content li {
	list-style-type: disc;
	padding-left: 1em;
}

p.preview_date {
	display: block;
	position: absolute;
	text-align: right;
	width: 80%;
	right: 10%;
	background: #ebebe0;
	padding: 0.2em 1em 0.2em 0.2em;
	margin: 1em;
	right: 0;
	bottom: 0;
	font-style: italic;
	color: darkgray;
	font-weight: bold;
	font-family: monospace;
	text-decoration: underline;
}

img.preview {
	border: 0.2em solid #ffb90f;
	opacity: 1;
	border-radius: 50%;
	margin: 0;
	display: inline;
}

img.tweet {
	display: block;
	margin: 0.5em auto;
	width: 50%;
}

div#preview_content::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 1em rgba(0,0,0,1);
		background-color: #F5F5F5;
	}
div#preview_content::-webkit-scrollbar {
		width: 0.5em;
		background-color: #F5F5F5;
	}
div#preview_content::-webkit-scrollbar-thumb {
	background-color: #ffb90f;
	}


div#blog_area {
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	vertical-align: center;
	position: relative;
	bottom: 0;
	background-color: black;
	background-image: url('../images/banner_background.png');
	background-size: cover;
}

@media only screen and (max-device-width: 667px), 
    only screen and (max-device-width: 375px), 
    only screen and (max-width: 480px) { 
	
	a.menu_icon {
		display: inline-block;
		position: relative;
		color: #ffb90f;
		right: 0px;
		padding: 0px;
	}
	
	.visible {
		display: block;
	}
	
	.invisible {
		display: none;
	}
	
	img.tweet {
		width: 90%;
	}
	
	div.main_text {
		font-size: 0.5em;
	}
	div#main_pic {
		height: 60%;
		width: 35%;
	}
	div#preview {
		height: 60%;
		top: 20%;
	}
	
	div#preview_content {
		font-size: 1em;
	}
	
	div#projects {
		width: 100%;
	}
	td#nav ul#nav_list { 
		background: #fff;
		width: 100%;
		margin: 0 auto;
		color: black;
	}
	
	td#name {
		font-size:0.5em;
		vertical-align: top;
		padding: 0.5em;
		font-size: 1em;
	}
	td#nav li {
		display: block;
		padding: 0em;
		margin: 0;
		color: black;
		right: 0;
	}
}

/* BLOG CSS */

input[type=text].login, input[type=password].login {
	background-color: #ffb90f;
	width: 70%;
	height: 2em;
	padding: 0.5em;
	font-size: 1.5em;
	color: white;
	margin: auto;
	border: 1px solid white;
	text-align: center;
}

input[type=submit].login {
	background-color: #ffb90f;
	width: 30%;
	font-size: 1.5em;
	color: white;
	margin: auto;
	height: 3em;
	border: 1px solid white;
	-webkit-appearance: none;
}

form.login {
	display: block;
	margin: auto;
	text-align: center;
	padding: 4em 2em;
	border: 0.2em dashed #ffb90f;
}

div#login {
	margin: auto;
	width: 70%;
	margin-top: 5%;
	background: white;
}

/* blog landing page styling */

body.blog {
	padding: 0;
	margin: 0;
	background-color: black;
	background-image: url('../images/banner_background.png');
	background-size: cover;
}

div#blog {
	width: 70%;
	margin: 0 auto;
	padding: 1em;
	background: white;
}

div.canvas {
	width: 100%;
	height: 70vh;
}

p.time {
	display: inline-block;
	text-decoration: italics;
	font-size: 0.8em;
}

textarea.newBody {
	width: 70%;
	height: 20%;
	font-size: 1em;
}

input[type=text].newTitle {
		font-size: 1em;
}
	

input[type="button"] {
	background-color: #ffb90f;
	color: white;
	border: none;
	padding: 1em;
	-webkit-appearance: none;
	border: 0.2em solid white;
	font-size: 1.5em;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

/* blog show post styling */

body.showPost {
	background-color: black;
	background-image: url('../images/banner_background.png');
	background-size: cover;
	overflow: auto;
}

div#blog_post p.date {
	text-align: right;
	display: block;
}

div#blog_post {
	width: 70%;
	background-color: white;
	margin: auto;
	padding: 2em;
	margin-top: 5%;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

p.title {
	position: relative;
	text-align: right;
	font-size: 3em;
}

div#blog_post div.body {
	all: initial;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

div#blog_post div.body li {
	list-style-type: disc;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

div#blog_post div.body ul {
	padding-left: 1em;
}